<ion-content padding>

<img class="profileImage" width="200" height="200" src="{{profileImage}}" style="border-radius:50%; object-fit: cover;"/>

<h1 class="text">Hey there!</h1>

<h4 class="text">Tell us about yourself, e.g. your name, age, and where you are from.</h4>

  <div class="speakers-container" (click)="speechInput()">
    <img *ngIf="!loading" class="speakers" src="../assets/img/speakers.png">
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>

  <button full ion-button *ngIf="isDemoMode" (click)="mockInput()">Test Input</button>

</ion-content>

<!--<ion-footer>-->
  <!--<ion-toolbar>-->
    <!--<button large full class="eval-btn" ion-button (click)="triggerConfirmation()">-->
      <!--Confirm-->
    <!--</button>-->
  <!--</ion-toolbar>-->
<!--</ion-footer>-->
