<ion-content scroll="false">
  <h1 class="top center">
    Trust ❤️
  </h1>
  <h2 class="center desc">
    How are you doing? 😊
  </h2>

  <!--<div class="speakers-container">-->
    <!--<img class="speakers" src="../assets/img/speakers.png">-->
  <!--</div>-->

  <!--<div class="center" *ngIf="isDemoMode">-->
    <!--Currently you are running on demo mode. Speech recognition does not work here.-->
  <!--</div>-->
  <!--<button ion-button full (click)="startListening()" *ngIf="!isDemoMode">Start Listening</button>-->
  <!--<button ion-button full (click)="stopListening()" *ngIf="!isDemoMode && isIos()">Stop Listening</button>-->

  <!--<ion-card *ngIf="!isDemoMode">-->
    <!--<ion-card-header>This is what I understood...</ion-card-header>-->
    <!--<ion-card-content>-->
      <!--<ion-list>-->
        <!--<ion-item *ngFor="let match of matches">-->
          <!--{{ match }}-->
        <!--</ion-item>-->
      <!--</ion-list>-->
    <!--</ion-card-content>-->
  <!--</ion-card>-->

  <!--<button full ion-button *ngIf="isDemoMode" (click)="validateInput([])">Mock Data</button>-->

  <div class="center"><ion-spinner *ngIf="loading"></ion-spinner></div>
  <!--<div *ngIf="response && !loading">-->
    <!--<pre>{{response}}</pre>-->
  <!--</div>-->
</ion-content>


<ion-footer>
  <ion-toolbar>
    <button large full class="eval-btn" ion-button (click)="startListening()">
      Answer
    </button>
  </ion-toolbar>
</ion-footer>
