<ion-content>

  <div class="splash-bg"></div>

  <img class="profileImage" width="200" height="200" src="{{profileImage}}" style="border-radius:50%; object-fit: cover;"/>

  <h1 class="name">Hi {{name}}</h1>
  <!--<div class="center">Your Description Headline</div>-->

  <div style="height: 1em;"></div>

  <div class="center">
    <ion-icon class="check-icon" name="checkmark-circle"></ion-icon>
    <div>Verified!</div>
  </div>

  <div ng-if="evaluated" class="container">

    <div style="height: 0.5em;"></div>

    <h3>Personal details</h3>

    <div *ngIf="user_loaded">
      <div><b>Name:</b> {{name}}</div>
      <div><b>Age:</b> {{age}}</div>
      <div><b>Origin country:</b> {{country}}</div>
      <!--<div>Hobbies: {{}}</div>-->
    </div>

    <div *ngIf="!user_loaded">
      No user data available...
    </div>

    <div style="height: 1em;"></div>

    <h3>Your Evaluation</h3>

    <div *ngIf="lang_loaded">

      <ion-label>Language</ion-label>
      <div class="bar-border">
        <div class="bar-inner" [(ngStyle)]="language_style">&nbsp;</div>
      </div>

      <div style="height: 1em;"></div>

      <ion-label>Coding Skills</ion-label>
      <div class="bar-border">
        <div class="bar-inner" [(ngStyle)]="coding_style">&nbsp;</div>
      </div>

    </div>

    <div>
      No evaluation available...
    </div>

    <div style="height: 1em;"></div>

    <h3>Your Skills</h3>

    <div *ngIf="!skills_loaded">
      No skills set available...
    </div>

  </div>

  <ion-list ng-if="evaluated" *ngFor="let skill of skills">

    <ion-item>
        {{skill.name}}
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button block large class="eval-btn" ion-button (click)="triggerEvaluation()">
      {{ 'EVALUATE_SKILLS' | translate }}
    </button>

    <button block large class="eval-btn" ion-button (click)="startLivchat()">
      MY OFFERS
    </button>
  </ion-toolbar>
</ion-footer>
